[Unit]
Description=Disable the dedicated GPU after resume
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/share/acpi_call/examples/turn_off_gpu.sh

[Install]
WantedBy=suspend.target
