[Unit]
Description=Disable the dedicated GPU

[Service]
Type=oneshot
ExecStart=/usr/share/acpi_call/examples/turn_off_gpu.sh

[Install]
WantedBy=multi-user.target
