# Add xbmc user
# useradd -m -c 'XBMC user' -G audio,video,network,optical -d /var/lib/xbmc -s /usr/bin/nologin xbmc
#
# changes to /etc/X11/Xwrapper.config for this service to work
# allowed_users = anybody
# needs_root_rights = yes

[Unit]
Description = Starts instance of XBMC using xinit
After = systemd-user-sessions.service network.target
Conflicts=getty@tty7.service

[Service]
User = xbmc
Group = xbmc
PAMName=login
Type = simple
TTYPath=/dev/tty7
ExecStart = /usr/bin/xinit /usr/bin/dbus-launch --exit-with-session /usr/bin/xbmc-standalone -- :0 -nolisten tcp vt7
Restart = on-abort

[Install]
WantedBy = multi-user.target
